{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post" onsubmit="return confirmTransaction('buy')">
        <table>
            <div class="row m-2">
                <div class="col"></div>
                <div class="col-3 input-group">
                    <input autocomplete="off" autofocus class="form-control text-center" id="symbol" name="symbol" placeholder="Stock symbol" type="text" required>
                    <button class="btn btn-success" type="submit">Buy</button>
                </div>
                <div class="col"></div>
            </div>

            <div class="row m-2">
                <div class="col"></div>
                <div class="col-6"><br></div>
                <div class="col"></div>
            </div>

            <div class="row m-2">
                <div class="col"></div>
                <div class="col-6">
                    <input autocomplete="off" autofocus class="form-control text-center bg-light" id="quantity" name="quantity" placeholder="Quantity" required onkeypress="return false;">
                </div>
                <div class="col"></div>
            </div>

            <div class="row m-2">
                <div class="col"></div>
                <div class="col-8">
                    <button class="btn btn-primary" onClick="increaseBy(100)" type="button">100</button>
                    <button class="btn btn-primary" onClick="increaseBy(50)" type="button">50</button>
                    <button class="btn btn-primary" onClick="increaseBy(10)" type="button">10</button>
                    <button class="btn btn-primary" onClick="increaseBy(5)" type="button">5</button>
                    <button class="btn btn-primary" onClick="increaseBy(1)" type="button">1</button>
                </div>
                <div class="col"></div>
            </div>

            <div class="row m-2">
                <div class="col"></div>
                <div class="col-8">
                    <button class="btn btn-primary" onClick="increaseBy(5000)" type="button">5000</button>
                    <button class="btn btn-primary" onClick="increaseBy(1000)" type="button">1000</button>
                    <button class="btn btn-primary" onClick="increaseBy(500)" type="button">500</button>
                </div>
                <div class="col"></div>
            </div>

            <div class="row m-2">
                <div class="col"></div>
                <div class="col-8">
                    <button class="btn btn-secondary" onClick="increaseBy(0)" type="button">Reset</button>
                </div>
                <div class="col"></div>
            </div>

            <div class="row m-2">
                <div class="col"></div>
                <div class="col-8">

                </div>
                <div class="col"></div>
            </div>
        </table>
    </form>
{% endblock %}
