{% extends "layouts/layout.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block main %}
<div class="container">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">

      <legend class="border-bottom mb-4">Account Info</legend>

      <div class="form-group">
        {{ form.username.label(class="form-control-label", for="username") }}
        {% if form.username.errors %}
        {{ form.username(class="form-control form-control-lg is-invalid", id="username") }}
        <div class="invalid-feedback">
          {% for error in form.username.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.username(class="form-control form-control-lg", id="username") }}
        {% endif %}
      </div>

      <div class="form-group">
        {{ form.email.label(class="form-control-label") }}
        {% if form.email.errors %}
        {{ form.email(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.email.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.email(class="form-control form-control-lg") }}
        {% endif %}
      </div>

      <div class="form-group">
        {{ form.submit(class="btn btn-success btn-block mt-4") }}
      </div>

      <div class="border-top pt-3">
        <small class="text-muted">
          <a class="ml-2" href="{{ url_for('user.update_password') }}">Change password?</a>
        </small>
      </div>

    </fieldset>
    
  </form>
</div>
{% endblock main %}